@tailwind base;
html {
    scroll-behavior: smooth;
    background-color: rgb(30 27 75);
    color: rgba(85, 85, 155, 0.966)
}
@tailwind components;
@tailwind utilities;

@layer components {
    .align-element{
        @apply mx-auto max-w-7xl px-8;
    }
}